html {
    background-color: rgb(78, 60, 17);
    text-align: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

div {
    font-family: 'Courier New', Courier, monospace;
}

div.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

img:hover {
    border: 1px solid #242424
}

.text {
    padding-bottom: 10%;
}
